* {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: black;
}

header h1 {
    color: white;
    font-size: 45px;
}


/* 5-day forecast title */

.title {
    color: black;
    font-weight: 200;
    font-size: 40px;
}


/* search form  */

.search {
    width: 100%;
    margin-top: 30px;
}

.searchBtn {
    width: 50%;
    background-color: none;
    margin: 15px 0;
    border: black solid 2px;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    padding: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    background-color: rgb(100, 84, 100);
    font-size: 30px;
}

.form {
    width: 100%;
    padding: 10px;
}


/* end */


/* past searches */

.past-searches {
    background-color: rgb(161, 126, 161);
    color: white;
}

.past-btn {
    margin: 10px;
    width: 90%;
    border: white solid 2px;
    color: white;
    padding: 15px 0px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(51, 42, 60);
}


/* end */


/* live weather */

.live-weather-container {
    margin-top: 30px;
}

.live-weather {
    padding: 10px;
    font-size: 30px;
    background-color: rgb(195, 191, 191);
    color: black;
}

.location-title {
    color: black;
    padding-bottom: 5px;
    border-bottom: black solid 1px;
    margin-bottom: 20px;
    font-size: 35px;
}


/*  end */


/* 5-day forecast  */

.fiveday-weather {
    margin-top: 30px;
    background-color: gray;
    padding: 10px;
}

.fiveday-title {
    font-size: 35px;
    font-style: bold;
}

.fiveday-weather-cards {
    display: flex;
    flex-wrap: wrap;
}

.fiveday {
    background-color: rgb(150, 115, 150);
    color: black 10px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 2px white solid;
    border-radius: 10px;
}


/* end */